<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet 
			<link rel="stylesheet" type="text/css" href="/css/main.css">-->
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/"><font size="5">Home</font></a></li>
		        	<li><a href="/about"><font size="5">About</font></a></li>
	        		<li><a href="/cv"><font size="5">CV</font></a></li>
	        		<li><a href="/courses"><font size="5">Courses</font></a></li>
				<li><a href="/contact"><font size="5">Contact</font></a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>Last Update: 2021.03.17</li>
				</ul>
			</footer>
		</body>
	</html>
